<div class="container">
  <p-card>
    <p-header>
      <h2 class="login-title">Login</h2>
    </p-header>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <div class="p-field">
          <label for="email">Email</label>
          <input pInputText type="email" id="email" name="email" ngModel required>
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <input pInputText type="password" id="password" name="password" ngModel required>
        </div>
        <div class="button-container">
          <button pButton type="submit" label="Login"></button>
          <button pButton type="button" label="Sign up" routerLink="/register"></button>
        </div>
      </form>
    </p-card>
  <div class="google-login">
    <button pButton type="button" label="Login with Google" (click)="loginWithGoogle()"></button>
  </div>
</div>