<div class="header">
    <img src=" {{logo}} " class="logo"> 
    <div class="buttons">
        <p-button *ngIf="authService.isLoggedIn()" label="Profile"  icon="pi pi-user" (onClick)="goToProfile()"></p-button>
        <p-button *ngIf="!authService.isLoggedIn()" label="Inicia sessió" icon="pi pi-sign-in" (onClick)="goToLogin()"></p-button>
        <p-button *ngIf="authService.isLoggedIn()" label="Logout" icon="pi pi-plus" (onClick)="logout()"></p-button>
    </div>
</div>

<br>

<p-panel header="Recipes">
    <div style="display: flex; justify-content: space-between;">
        <p-button label="Filtres" (onClick)="goToFilters()" [raised]="true"></p-button>
        <p-button *ngIf="authService.isLoggedIn()" label="New recipe" (onClick)="newRecipe()" icon="pi pi-plus" [raised]="true"></p-button>
    </div>

    <div style="display: grid; column-gap: 1rem; row-gap: 1rem; grid-template-columns: 1fr 1fr;">
        <p-card *ngFor="let receipt of filteredReceipts" (dblclick)="goToReceipt(receipt)">
            <app-recipe [recipe]="receipt"></app-recipe>
        </p-card>
    </div>
</p-panel>

<p-dialog *ngIf="recipeForm" header="Formulari de recepta" [(visible)]="recipeForm" [style]="{width: '50vw'}" 
        [modal]="true" [draggable]="false" [resizable]="false" [maximizable]="true">
    <app-form-recipe [mode]="formMode" (addedSuccessfully)="closeForm()"></app-form-recipe>
</p-dialog>

<p-dialog header="{{currentRecipe.name}}" [(visible)]="showRecipe" [style]="{width: '50vw'}" 
        [modal]="true" [draggable]="false" [resizable]="false" [maximizable]="true">
    <app-recipe [recipe]="currentRecipe"></app-recipe>
</p-dialog>

<p-dialog header="Filtres" [(visible)]="showFilters" [style]="{width: '50vw'}"
        [modal]="true" [draggable]="false" [resizable]="false" [maximizable]="true">
    <div>
        <div class="filtreNom">
            <p>Nom</p>
            <input pInputText type="text" [(ngModel)]="filterName" />
        </div>
        <div class="filtreDurada">
            <p>Durada</p>
            <input pInputText type="number" [(ngModel)]="filterDuration" />
        </div>
        <div class="filtreDificultat">
            <p>Dificultat</p>
            <p-button label="Fàcil" (onClick)="filterDifficulty('Fàcil')"></p-button>
            <p-button label="Mitjà" (onClick)="filterDifficulty('Mitjana')"></p-button>
            <p-button label="Difícil" (onClick)="filterDifficulty('Difícil')"></p-button>
        </div>
        <div class="botonsFiltrar">
            <p-button label="Filtrar" (onClick)="applyFilters()"></p-button>
            <p-button class="treureFiltres" *ngIf="showRemoveFilters" label="Treure filtres" (onClick)="removeFilters()"></p-button>
        </div>
    </div>
</p-dialog>
