<div style="display: flex; justify-content: flex-end;">
    <!-- Altres elements -->
    <p-button *ngIf="authService.isLoggedIn()" label="Home" icon="pi pi-user" (onClick)="goToHome()"></p-button>
    <p-button *ngIf="authService.isLoggedIn()" label="Logout" icon="pi pi-plus" (onClick)="logout()"></p-button>
</div>

<div class="profile-container" *ngIf="userData">
    <img [src]="userData.image" class="profile-image" alt="Profile Image">
    <h2 class="profile-name">{{ userData.name }}</h2>
    <input type="file" (change)="uploadProfileImage($event)" class="upload-button">

    <!-- Add a form for editing the user's name -->
    <form (submit)="updateUserName(newName.value)">
        <input type="text" #newName placeholder="New name" required>
        <button type="submit">Update Name</button>
    </form>
</div>

<p-panel header="Receipts">
    <div style="display: grid; column-gap: 1rem; row-gap: 1rem; grid-template-columns: 1fr 1fr;">
        <p-card *ngFor="let receipt of receipts" (dblclick)="goToReceipt(receipt)">
            <app-receipt [receipt]="receipt"></app-receipt>
        </p-card>
    </div> 
</p-panel>

<p-dialog header="{{currentReceipt.name}}" [(visible)]="showRecipe" [style]="{width: '50vw'}" 
        [modal]="true" [draggable]="false" [resizable]="false" [maximizable]="true">
    <app-receipt [receipt]="currentReceipt"></app-receipt>
</p-dialog>